<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入侧边工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- 主要内容区 Main content -->
        <div class="content">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">首页</h3>
                </div> <!-- /.card-body -->
                <div class="card-body">
                    <div class="panel panel-default">
                        <div style="padding: 10px 0 20px 10px;">
                            <a href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">
                                <img th:src="@{/admin/dist/img/newbee-logo.png}" style="width: 480px;height: 240px;">
                                <p>
                                    微信小程序商店后台
                                </p>
                                <ul>
                                    <li>小程序后台</li>
                                    <li>商品增删改查</li>
                                    <li>订单管理</li>
                                    <li>spring boot</li>
                                </ul>
                            </a>
                            <h3>作者</h3>
                            <ul>
                                <li>陈志聪</li>
                                <li>黄子毅</li>
                                <li>刘凌峰</li>
                            </ul>
                            <p>查看仓库</p>
                            <ul>
                                <li><a href="https://github.com/voghost/spring-boot-wechat-mall" target="_blank">GitHub</a></li>
                                <li><a href="https://gitee.com/voghost/spring-boot-wechat-mall" target="_blank">Gitee</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="admin/footer::footer-fragment"></div>
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
</body>
</html>
