<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入侧边工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- 主要内容区 Main content -->
        <div class="content">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">首页</h3>
                </div> <!-- /.card-body -->
                <div class="card-body">
                    <div class="panel panel-default">
                        <div style="padding: 10px 0 20px 10px;">

                            <!--基本订单统计-->
                            <div class="row">
                                <div class="col-lg-3 col-xs-6">
                                    <div class="small-box bg-info">
                                        <div class="inner">
                                            <h3 th:text="${totalOrdersPrice}"></h3>
                                            <p>总成交额</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-xs-6" style="margin-left: 100px">
                                    <div class="small-box bg-warning">
                                        <div class="inner">
                                            <h3 th:text="${ordersNumber}"></h3>
                                            <p>总下单量</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-xs-6" style="margin-left: 100px">
                                    <div class="small-box bg-info-gradient">
                                        <div class="inner">
                                            <h3 th:text="${userNumber}"></h3>
                                            <p>用户数量</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

<!--
                            <div class="row">
                                <div class="fa-bar-chart" style="height: 200px">
                                    <h5 class="panel-title">下单统计</h5>
                                    <canvas id="myOrders"></canvas>
                                </div>
                            </div>
-->

                            <a href="https://gitee.com/voghost/spring-boot-wechat-mall" target="_blank">
                                <p>
                                    微信小程序商店后台
                                </p>
                                <ul>
                                    <li>小程序后台</li>
                                    <li>商品增删改查</li>
                                    <li>订单管理</li>
                                    <li>spring boot</li>
                                </ul>
                            </a>
                            <h3>作者</h3>
                            <ul>
                                <li>陈志聪</li>
                                <li>黄子毅</li>
                                <li>刘凌峰</li>
                            </ul>
                            <p>查看仓库</p>
                            <ul>
                                <li><a href="https://github.com/voghost/spring-boot-wechat-mall"
                                       target="_blank">GitHub</a></li>
                                <li><a href="https://gitee.com/voghost/spring-boot-wechat-mall"
                                       target="_blank">Gitee</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="admin/footer::footer-fragment"></div>
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
<!--<script th:src="@{/admin/dist/js/plugins/chart.js}"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
        integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
        crossorigin="anonymous">
</script>
</body>
</html>
