<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dgut.networkengin2018_2.wechat_mall.dao.FloorMapper">
    <resultMap id="BaseResultMap" type="edu.dgut.networkengin2018_2.wechat_mall.entity.Floor">
        <id column="floor_id" jdbcType="INTEGER" property="floorId"/>
        <result column="floor_name" jdbcType="VARCHAR" property="floorName"/>
        <result column="floor_image" jdbcType="VARCHAR" property="floorTitleImage"/>
        <result column="floor_keyword" jdbcType="VARCHAR" property="floorKeyword"/>
        <result column="floor_weight" jdbcType="INTEGER" property="floorWeight"/>
    </resultMap>


    <insert id="insertFloor" parameterType="edu.dgut.networkengin2018_2.wechat_mall.entity.Floor"
            useGeneratedKeys="true" keyProperty="floorId">
        insert into tb_floor (floor_id, floor_name, floor_image, floor_keyword, floor_weight)
        values (#{floorId}, #{floorName}, #{floorTitleImage}, #{floorKeyword}, #{floorWeight})
    </insert>

    <update id="updateFloor">
        update tb_floor
        <set>
            <if test="floorName != null">
                floor_name = #{floorName},
            </if>
            <if test="floorTitleImage != null">
                floor_image = #{floorTitleImage},
            </if>
            <if test="floorKeyword != null">
                floor_keyword = #{floorKeyword},
            </if>
            <if test="floorWeight!= null">
                floor_weight = #{floorWeight},
            </if>
        </set>
        where floor_id = #{floorId}
    </update>

    <delete id="deleteFloor">
        delete
        from tb_floor
        where floor_id = #{floorId}
    </delete>

    <delete id="deleteBatch">
        delete from tb_floor
        where floor_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findFloorList" resultMap="BaseResultMap">
        select *
        from tb_floor
        <choose>
            <when test="sidx== 'floorName' and order != null and order != ''">
                order by floor_name ${order}
            </when>
            <when test="sidx== 'floorId' and order != null and order != ''">
                order by floor_id ${order}
            </when>
            <when test="sidx== 'floorWeight' and order != null and order != ''">
                order by goods_weight ${order}
            </when>
            <otherwise>
                order by floor_weight desc
            </otherwise>
        </choose>
        <if test="start != null and limit != null">
            limit #{start},#{limit}
        </if>
    </select>

    <select id="getTotalFloors" resultType="java.lang.Integer">
        select count(*)
        from tb_floor
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select *
        from tb_floor
        where floor_id = #{floorId}
    </select>

    <select id="getAllFloorList" resultMap="BaseResultMap">
        select *
        from tb_floor
        <choose>
            <when test="sidx== 'floorName' and order != null and order != ''">
                order by floor_name ${order}
            </when>
            <when test="sidx== 'floorId' and order != null and order != ''">
                order by floor_id ${order}
            </when>
            <when test="sidx== 'floorWeight' and order != null and order != ''">
                order by goods_weight ${order}
            </when>
            <otherwise>
                order by floor_weight desc
            </otherwise>
        </choose>
    </select>

</mapper>