<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dgut.networkengin2018_2.wechat_mall.dao.OrdersgoodsMapper">
    <resultMap id="BaseResultMap" type="edu.dgut.networkengin2018_2.wechat_mall.entity.Ordersgoods">
        <id column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="order_goods_id" jdbcType="INTEGER" property="orderGoodsId"/>
        <result column="order_goods_number" jdbcType="VARCHAR" property="orderGoodsNumber"/>
        <result column="order_price" jdbcType="DECIMAL" property="orderPrice"/>
    </resultMap>

    <!--相当于一个常量，后面可以引用-->
    <sql id="BaseColumnList">
        order_id
        ,order_goods_id,
        order_goods_number,order_price
    </sql>


    <sql id="ordersgoodsColumns">
        <trim suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="orderGoodsId != null">order_goods_id,</if>
            <if test="orderGoodsNumber != null">order_goods_number,</if>
            <if test="orderPrice != null">order_price,</if>
        </trim>
    </sql>

    <sql id="ordersgoodsValues">
        <trim suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="orderGoodsId != null">#{orderGoodsId},</if>
            <if test="orderGoodsNumber != null">#{orderGoodsNumber},</if>
            <if test="orderPrice != null">#{orderPrice},</if>
        </trim>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="orderId">
        insert into tb_orders_goods (<include refid="ordersgoodsColumns"/>) values (<include refid="ordersgoodsValues"/>
        )
    </insert>

    <!--更新-->
    <update id="updateByPrimaryKey" parameterType="edu.dgut.networkengin2018_2.wechat_mall.entity.Ordersgoods">
        update tb_orders_goods
        <set>
            <if test="orderGoodsId != null">
                order_goods_id = #{orderGoodsId},
            </if>
            <if test="orderGoodsNumber != null">
                order_goods_number = #{orderGoodsNumber},
            </if>
            <if test="orderPrice != null">
                order_price = #{orderPrice},
            </if>
        </set>
        where order_id = #{orderId}
    </update>

    <!--删除 通过主键-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from tb_orders_goods
        where order_id = #{orderId}
    </delete>

    <!--获得所有列表-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select *
        from tb_orders_goods
        where order_id = #{orderId}
    </select>

    <!--通过 主键查找商品-->
    <select id="getAllList" resultMap="BaseResultMap">
        select *
        from tb_orders_goods
    </select>

    <!--通过参数(map)<分页>查询-->
    <select id="findOrdersgoodsList" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from tb_orders_goods
        <where>
        </where>
        order by order_id desc
        /*分页查询*/
        <if test="start != null and limit != null">
            limit #{start},#{limit}
        </if>
    </select>

    <select id="getTotalOrdersGoods" resultType="java.lang.Integer">
        select count(*)
        from tb_orders_goods
    </select>

    <select id="getOrdersGoodsById" resultMap="BaseResultMap">
        select *
        from tb_orders_goods
        where order_id = #{orderId}
    </select>

</mapper>