<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dgut.networkengin2018_2.wechat_mall.dao.UsersMapper">

    <resultMap id="BaseResultMap" type="edu.dgut.networkengin2018_2.wechat_mall.entity.Users">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_openid" jdbcType="VARCHAR" property="userOpenId"/>
        <result column="user_create_time" jdbcType="TIMESTAMP" property="userCreateTime"/>
        <result column="user_update_time" jdbcType="TIMESTAMP" property="userUpdateTime"/>
        <result column="user_last_login_time" jdbcType="TIMESTAMP" property="userLastLoginTime"/>
        <result column="user_is_active" jdbcType="BIT" property="userIsActive"/>
        <result column="user_token" jdbcType="VARCHAR" property="userToken"/>
    </resultMap>

    <sql id="BaseColumnList">
        user_id
        ,user_openid,user_create_time,user_update_time,user_last_login_time,user_is_active,user_token
    </sql>

    <sql id="userColumns">
        <trim suffixOverrides=",">
            <if test="userOpenId != null">user_openid,</if>
            <if test="userCreateTime != null">user_create_time,</if>
            <if test="userUpdateTime != null">user_update_time,</if>
            <if test="userLastLoginTime != null">user_last_login_time,</if>
            <if test="userIsActive != null">user_is_active,</if>
            <if test="userToken != null">user_token,</if>
        </trim>
    </sql>

    <sql id="userValues">
        <trim suffixOverrides=",">
            <if test="userOpenId != null">#{userOpenId},</if>
            <if test="userCreateTime != null">#{userCreateTime},</if>
            <if test="userUpdateTime!= null">#{userUpdateTime},</if>
            <if test="userLastLoginTime!= null">#{userLastLoginTime},</if>
            <if test="userIsActive!= null">#{userIsActive},</if>
            <if test="userToken != null">#{userToken},</if>
        </trim>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="userId">
        insert into tb_users (<include refid="userColumns"/>) values (<include refid="userValues"/>)
    </insert>

    <update id="updateByPrimaryKey" parameterType="edu.dgut.networkengin2018_2.wechat_mall.entity.Users">
        update tb_users
        <set>
            <if test="userOpenId != null">
                user_openid = #{userOpenId},
            </if>
            <if test="userCreateTime != null">
                user_create_time = #{userCreateTime},
            </if>
            <if test="userUpdateTime != null">
                user_update_time = #{userUpdateTime},
            </if>
            <if test="userLastLoginTime != null">
                user_last_login_time = #{userLastLoginTime},
            </if>
            <if test="userIsActive != null">
                user_is_active = #{userIsActive},
            </if>
            <if test="userToken != null">
                user_token = #{userToken},
            </if>
        </set>
        where user_id = #{userId}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from tb_users
        where user_id = #{userId}
    </delete>

    <select id="getAllList" resultMap="BaseResultMap">
        select *
        from tb_users
        where user_id = #{userId}
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select *
        from tb_users
    </select>

    <select id="findUsersList" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="BaseColumnList"/>
        from tb_users
        <where>
            <if test="startTime != null and startTime.trim() != ''">
                and create_time &gt; #{startTime}
            </if>
            <if test="endTime != null and endTime.trim() != ''">
                and create_time &lt; #{endTime}
            </if>
        </where>
        order by user_id desc
        /*分页查询*/
        <if test="start != null and limit != null">
            limit #{start},#{limit}
        </if>
    </select>

    <select id="getTotalUser" resultType="java.lang.Integer">
        select count(*)
        from tb_users
    </select>
    <select id="getUserByOpenId" resultMap="BaseResultMap">
        select *
        from tb_users
        where user_openid = #{userOpenId}
    </select>
</mapper>